body{
    margin: 0px;
    background-image: url(/Proyecto-2-FWD/src/img/fondo-iniciarSesión\ 2-01.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* Para que el fondo cubra al menos la altura de la ventana gráfica */
    width: 100%;
}

.iconoLogin{
    width: auto;
    height: 121px;
}

.divIconoLogin{
    width: 431,76;;
    height: 183.12px ;
    margin-top: 90px;
    margin-bottom: -250px;
    text-align: center;
}

.inputIniciarSesión{
    height:add(5rem, input-height-border);
    line-height:1.25;
    padding:input-padding-x;
    padding:1rem;
    padding-top:1.625rem;
    padding-block:.625rem;
    height:50px;
    width: 300px;
    transform:scale(.85) translateY(-.5rem) translateX(.15rem);
    color:gray-300;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    font-size: 16px;
    justify-content: center;
    border-radius: 50px;
    border: transparent;
    text-align: center;
}

.divUsuario{
    display: flex;
    justify-content: center;
    margin-top: 230px;
}

.divContraseña{
    display: flex;
    justify-content: center;
}

.btnIniciarSesión{
    height:50px;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    background-color: #EF5484;
    color: rgb(255, 255, 255);
    border: transparent;

}
.divBtn{
    display: flex;
    justify-content: center;
}


/*MEDIA QUERIES*/

@media (max-width: 500px) {
    .divIconoLogin {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: -30px;
    
    }
    .inputIniciarSesión {
        width: 90%;
    }
    .divUsuario, .divContraseña, .divBtn {
        margin-top: 5px;
    }
};

@media (max-width: 900px) {
    .divIconoLogin {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .inputIniciarSesión {
        width: 170px;
    }
    .divUsuario{
        margin-top: -80px;
    }
    .iconoLogin{
        width: auto;
        height: 70px;
        margin-top: -60px;
    }
};

@media (max-width: 1200px){
    .divIconoLogin {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }
    .inputIniciarSesión {
        width: 400px;
    }
    .iconoLogin{
        width: auto;
        height: 150px;
        margin-top: -60px;
    }
}