body{
    margin: 0px;
    background-image: url(/Proyecto-2-FWD/src/img/REGISTRO-02.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}
.logo{
    width: auto;
    height: 65px;
}

.gestión{
    font-family: sans-serif;
    src:url(/Proyecto-2-FWD/src/font/AvenirLTStd-Black.otf);
    color: white;
    font-size: 30px;
}
.header{
    display: grid;
    grid-template-columns: 150px 900px 144px;
    background-color: #20243F;
    width: auto;
    height: 110px;

}
.btnSesión{
    height: 35px;
    width: 140px;
    border-radius: 50px;
text-align: center;
font-size: 16px;
background-color: #EF5484;
color: rgb(255, 255, 255);
border: transparent;
}
.divLogo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.divGestión{
    display: flex;
    align-items: center;

}
.divSesión{
    display: flex;
    justify-content: center;
    align-items: center;

}
.registrarse{
    display: grid;
    grid-template-columns: 605px 675px;
}

.inputRegistrer{
    height:add(5rem, input-height-border);
    line-height:1.25;
    padding:3rem;
    padding-top:1.625rem;
    padding-block:.625rem;
    height:50px;
    width: 500px;
    transform:scale(.85) translateY(-.5rem) translateX(.15rem);
    color:gray-300;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    font-size: 16px;
    border-radius: 50px;
    border: transparent;
    background-color: rgba(202, 202, 202, 0.313);
    
}

.btnRegistrarse{
    height:50px;
    width: 150px;
    border-radius: 50px;
text-align: center;
font-size: 16px;
background-color: #181E40;
color: rgb(255, 255, 255);
border: transparent;
}
.container{
    display: grid;
    grid-template-columns: 100px 600x 100px;
}
.cajaRegistrarse{
    background-color: rgb(255, 255, 255);
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 100px;
    border: aqua;
    border-style: solid;
    border-width: 2px;
}

.divbtnRegistrarse{
    text-align: center;
}

h1{
    font-family: sans-serif;
   src: url(/Proyecto-2-FWD/src/font/AvenirLTStd-Black.otf);
    color: rgb(255, 255, 255);
    text-align:start;
    
}

.optimice{
    font-family:sans-serif;
    src: url(/Proyecto-2-FWD/src/font/AvenirLTStd-Light.otf);
    font-weight:lighter;
     color: rgb(255, 255, 255);
     text-align: center;
     justify-content: left; 
     font-size: 16px;
}



